__pycache__/*
.ipynb_checkpoints/*
.model_holder/*
.vscode/*
bert-base-uncased/*
data_feature/*
dataset/*
loss/*
mingda_chen_dataset/*
model/*
result/*
sequential_dataset/*
squencial_model/*
test_squencemodel/*
trained_model/*
transformers/*
all_pos_list.txt
test.py


